.apps-row {
    padding: 0 10px;
}

.app-btn {
    border-radius: 5px;
    padding: 5px;
}

.app-icon-wrap {
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 12px;
    padding: 6px;
}

.app-icon {
    border-radius: 8px;
}

.app-name {
    color: #9a918a;
    font-size: 11px;
}
